table {
    border: 4px solid rgb(140 140 140);
  }
  
  th,
  td {
    border: 3px solid rgb(160 160 160);
  }

  .day {
    background-color: lightsalmon;
  }

  .cold {
    background-color: mediumblue;
    color: white;
  }

  .cool {
    background-color: lightblue;
  }

  .warm {
    background-color: yellow;
  }

  .hot {
    background-color: red;
    color: white;
  }